* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	transition: background-color 0.5s ease;
	background-color: #1d252f;
	color: white;
	/* Default background color */
	
	/* Default text color */
}

body.night-mode {
	background-color: #fff;
	/* Night mode background color */
	color: black;
	/* Night mode text color */
}

nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
	height: 10vh;
	background: #22252e;
	box-shadow: 0 4px 8px rgba(241, 238, 238, 0.1);
	/* Add bottom light shadow */
}
#nightModeToggle:hover{
	color:#e6663c;

}

nav a {
	text-decoration: none;
	color: white;
}

.list {
	display: flex;
	list-style: none;
	gap: 25px;
}


#toggler,
label {
	display: none;
}

label i {
	color: white;
}

.menu ul li:hover {
	text-decoration: 2px underline #e6663c;


}

.menu ul li a:hover {
	color: #f4b400;
}


@media screen and (max-width: 650px) {

	.menu {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		background-color: #f4b400;
	}

	label {
		display: inline-flex;
	}

	#toggler:checked~.menu {
		max-height: 50vh;
	}

	.list {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.main {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

	}

	.container {
		height: 160vh;

	}

	.details h3 {
		font-size: 1rem;
		margin: 1vh;
	}

	.details h1 {
		font-family: 'Russo One', sans-serif;
		margin: 1vh;
		font-size: 2.5rem;
	}

	.details p {
		line-height: 25px;
		margin: 1vh;


	}
}

.container {
	min-height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.main {
	width: 60vw;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.photo img {
	height: 50vh;
	border-top: 5px solid #e6663c;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3), -5px 0 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);
}

.details {
	min-height: 50vh;
	min-width: 30vw;
	font-family: Arial, Helvetica, sans-serif;

}

.details h3 {
	font-size: 1.5rem;
	margin: 2vh;
}

.details h1 {
	font-family: 'Russo One', sans-serif;
	margin: 2vh;
	font-size: 5rem;
}

.details p {
	line-height: 25px;
	margin: 2vh;
	font-family: 'PT Sans', sans-serif;
	
}

.links {
	margin: 2vh;

}

.links a {
	color: #e6663c;
	margin: 10px;
	font-size: 1.5rem;
}
.ser{
	width: 99vw;
	display: flex;
	align-items: center;
	
	
}
#line{
	height: 2px;
	min-width: 15vw;
	background:#e6663c;
}
#ser-text h1{
	font-size: 4rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}